*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/README.md
fastlane/.env

# keystore
keystores/
keystore.jks

# google-services.json
app/google-services.json
app/src/mock/google-services.json
app/src/prod/google-services.json
