# Remember to add your values here as plain text. No quotes required.

# Create your keystore.properties file using this example and move it into the keystores directory in your project root directory

keyAlias = your_project_key_alias
keyPassword = your_key_alias_password
storeFile = /path/to/your/.keystore # Example: /Users/thedancercodes/keystores/fastlane-droid.keystore
storePassword = your_keystore_password